html {
  font: 18px/1.4 'Georgia', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-position: inside;
}

ul {
  list-style: none;
}

ul li,
ol li {
  padding: 0.5em 0.5em;
  line-height: 30px;
  border-top: 1px solid #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul a:last-child li,
ol li:last-child {
  border-bottom: 1px solid #eee;
}

ul li span,
ol li span {
  float: right;
  background-color: #00FF63;
  color: #fff;
  font-size: 75%;
  line-height: 30px;
  padding: 0 0.5em;
  border-radius: 5px;
}

ul li span.destroy,
ol li span.destroy {
  background-color: #F32C09;
}

ul a:hover li,
ol a:hover li {
  background-color: #fafafa;
}

.button {
  padding: 0.75em;
  color: #fff;
  background-color: #00FF63;
  border-radius: 10px;
  text-decoration: none;
}

#app {
  margin: 2em auto;
  width: 30em;
}

@media (max-width: 600px) {
  #app {
    width: auto;
  }
}

#app-header {
  text-align: center;
}

#app-header h1 span {
  display: block;
  font-size: 75%;
}

#app-header h1 {
  font: 28px/1.4 'Georgia', serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#app-login {
  text-align: center;
}

#app-login p {
  margin-bottom: 2em;
}

#app-playlists p,
#app-playlist p {
  margin-bottom: 1.5em;
  text-align: center;
}

#app-playlist h2 {
  font: 22px/1 'Georgia', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 25px;
  padding-top: 22px;
  border-top: 1px solid #eee;
}

#app-playlist .actions {
  text-align: center;
  margin-top: 2em;
}
